@model IEnumerable<AlgebraApp1._1.Models.CourseSignUp>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PredbiljezbeIndex</title>
</head>
<body>
    <h4>Prikaz nerješenih predbilježbi</h4>
    <div>
        @Html.ActionLink("Prikaži sve predbilježbe","ShowAll","SignUp")
    </div>
    <br />
    <div>
        @using (Html.BeginForm())
        {
            <p>
                Pretraživanje: @Html.TextBox("SearchString")
                <input type="submit" value="Search" />
            </p>
        }
    </div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telephone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course.CourseName)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telephone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course.CourseName)
            </td>
            <td>
                @Html.ActionLink("Uredi", "Edit", new { id=item.IdCourseSignUp }) |
                @Html.ActionLink("Izbriši", "Delete", new { id=item.IdCourseSignUp })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
